html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
@font-face {
  font-family: 'Amatic-Bold';
  src: url('/Assets/Amatic-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
